In [7]:
import acquire
import pandas as pd
from env import host, user, password

ModuleNotFoundError: No module named 'env'

In [5]:
df = acquire.get_data("anonymized-curriculum-access-07-2021.txt", ['date', 'time', 'endpoint', 'user_id', 'cohort_id', 'source_ip'])

/Users/natasharivers/codeup-data-science/database-exercises/Anomaly_Detection_Project/acquire.py:4: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(file_name,

In [6]:
df.head()

,date,time,endpoint,user_id,cohort_id,source_ip
0,2018-01-26,09:55:03,/,1,8.0,97.105.19.61
1,2018-01-26,09:56:02,java-ii,1,8.0,97.105.19.61
2,2018-01-26,09:56:05,java-ii/object-oriented-programming,1,8.0,97.105.19.61
3,2018-01-26,09:56:06,slides/object_oriented_programming,1,8.0,97.105.19.61
4,2018-01-26,09:56:24,javascript-i/conditionals,2,22.0,97.105.19.61

In [ ]:
def get_sql_data():
    url = get_db_url("curriculum_logs")

    sql = """
    select *
    from logs
    left join cohorts on logs.cohort_id= cohorts.id
    """

    df = pd.read_sql(sql, url)
    return df

In [ ]:
df = get_sql_data()